.shadetabs {
	padding: 0px;
}
.shadetabs li {
	height:28px;
	float:left;
	list-style-type:none;
	font-size:12px;
	color:#343434;
	font-weight:bold;
    padding-right:10px;
}
.shadetabs li a {
	height: 28px;
	color: #ffffff;
	font-weight: bold;
	padding-top: 13px;
	float: left;
	list-style-type: none;
	text-decoration: none;
}
.shadetabs li a:visited {
color: #ffffff;
}
.shadetabs li a:hover {
	text-decoration: none;
	color: #ffffff;
}
.shadetabs li a.selected { 
	height: 60px;
}
.compline {
	width:622px;
	height:1px;
	background-image:url(images/horzi_line.jpg);
	background-repeat:repeat-x;
}
.phone_bgBox {
	width:116px;
	height:124px;
	background-color:#FFF;
/*	background-color:#ececec;*/
	border:solid 1px #d6d6d6;
	margin-top:15px;
	float:left;
	margin-right:6px;
}
.comp_subheading {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:underline;
}
#phoneimage {
	height:88px;
	width:116px;
	text-align:center;
	padding-top:8px;
	float:left;
}
#phonetitle {
	width:116px;
	height:18px;
	float:left;
	border-top:solid 1px #d6d6d6;
	background-color:#dbdada;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#4a4a4a;
	text-align:center;
	padding-top:6px;
	padding-bottom:3px;
}
.comtext {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	text-align:center;
	margin-top:20px;
	float:left;
}
.tabcompat {
	display: block;
	}
